Source: python-rfgengou
Section: python
Priority: extra
Maintainer: ABE Hiroki (hATrayflood) <h.rayflood@gmail.com>
Build-Depends: debhelper, python
Standards-Version: 3.8.4
Homepage: https://github.com/hATrayflood/rfGengou

Package: python-rfgengou
Architecture: all
Depends: ${misc:Depends}
Description: 明治から平成までの元号と西暦を変換するライブラリです。
 日単位で判定、年単位で変換できます。
 通常は元号の有効範囲内で計算するため、元号の年月日のチェックにも使えます。
 追加引数を指定することで、元号の有効範囲を超えた仮想年数も計算できます。
 元号の定義については、以下のサイトを参考にしました。
 http://www.kumamotokokufu-h.ed.jp/kumamoto/bungaku/wa_seireki.html
